.body-background {
  background-image: url("../img/body-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img {
    cursor: pointer;
  }
}

.tv_slider {
  .slider-box {
    padding: 210px 0;
    .slider-text {
      color: #fff;
      font-family: Poppins;
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    .slider-description {
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin-top: 2.5rem;
    }
    .slider-content {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 30px;
    }
    .btn-box {
      display: flex;
      align-items: center;
      gap: 20px;
      .button-tip-one {
        background: #ff5c00;
        border-radius: 30px;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 10px 2.5rem;
        border: none;
      }
      .button-tip-two {
        border: 1px solid #ffffff;
        background: transparent;
        padding: 10px 2.5rem;
        border-radius: 30px;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .watch-box {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      .watch-intro {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 1.2rem;
      }
    }
  }
}

.tv_Gallery-box {
  img {
    height: 100%;
    max-height: 550px;
    object-fit: cover;
  }
}

.trip-package {
  padding: 0 200px;
  .package-box {
    .title {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 66px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
  .singapore {
    border-radius: 30px;
    background: #ff5c00;
    padding: 70px 40px;
    .title {
      color: #fff;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .content {
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .button-tip-two {
      border: 1px solid #ffffff;
      background: transparent;
      padding: 10px 2.5rem;
      border-radius: 30px;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .lumpur {
    border-radius: 30px;
    background: #fff;
    padding: 70px 40px;
    margin-top: 2rem;
    .title {
      color: #ff5c00;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .content {
      color: #ff5c00;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .button-tip-two {
      border: 1px solid rgba(255, 92, 0, 1);
      background: transparent;
      padding: 10px 2.5rem;
      border-radius: 30px;
      color: rgba(255, 92, 0, 1);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .lumpur-box {
    margin-top: 2rem;
  }
}

.tv-blog {
  padding: 0 200px;
  margin-top: 2rem;
  .blog-img {
    margin-top: 80px;
  }
  .card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .button-tip-one {
      margin-top: 50px;
      background: rgba(0, 0, 0, 1);
      border-radius: 30px;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 10px 5rem;
      border: none;
      cursor: pointer;
    }
  }

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: -60px;
    margin-top: 2rem;
    .selections {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
      line-height: normal;
      z-index: 999999;
    }
  }

  .blog-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 1rem;
      text-align: start;
    }
    .button-tip-there {
      background: transparent;
      border-radius: 30px;
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 10px 2rem;
      border: 2px solid rgba(0, 0, 0, 1);
      cursor: pointer;
      width: 100%;
    }
    .content {
      color: #000;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 1rem;
    }
  }
  .blog-box {
    margin-top: 80px;
  }
  .title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 5rem;
  }
  .blog-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .sub-title {
      color: #fff;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
    }
    .tv-hr {
      border-radius: 16px;
      background: #ff5c00;
      width: 80%;
      height: 5px;
    }
    .content-box {
      display: flex;
      align-items: center;
      gap: 30px;
      .content {
        color: #fff;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.tv-hr {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-top: 8rem;
}

.tv-footer {
  padding: 200px 0 30px 0;
  .footer-first-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .title {
      color: #fff;
      font-family: Poppins;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: 65px;
    }
    .tv-hr {
      border-radius: 16px;
      background: #ff5c00;
      width: 80%;
      height: 5px;
    }
    .content {
      color: #fff;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .footer-link-box {
    display: flex;
    align-items: center;
    gap: 80px;
    .first-links {
      display: flex;
      gap: 30px;
      flex-direction: column;
      .footer-p {
        color: #fff;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .button-tip-one {
    margin-top: 50px;
    background: #fff;
    border-radius: 30px;
    color: #ff5c00;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 2.5rem;
    border: none;
    width: 50%;
  }
  .copyright {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 992px) {
  .tv_slider .slider-box .btn-box {
    flex-direction: column;
  }
  .tv_slider .slider-box .slider-text {
    font-size: 30px;
  }
  .search-box img {
    width: 100% !important;
  }
  .tv-blog .select-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .tv_slider .slider-box {
    padding: 70px 0;
  }
  .tv_Gallery-box {
    margin-bottom: 30px;
  }
  .trip-package {
    padding: 0;
  }
  .trip-package .singapore {
    margin-bottom: 30px;
  }
  .tv-blog {
    padding: 0;
  }
  .tv-footer .footer-link-box {
    margin-top: 40px;
  }
  .tv-hr {
    margin-top: 2rem;
  }
  .tv-footer {
    padding: 70px 0 30px 0;
  }
}

.navbar {
  background-color: transparent !important;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 86px;
    left: 0;
    background-color: #212529;
    padding: 10px;
    width: 100%;
    height: 100vh;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-nav.show {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) {
  #navItems {
    display: none;
  }
}

.tb-footer {
  background: #000;
  padding: 100px 0;
  margin-top: 10rem;
  .footer-box {
    a {
      text-decoration: none;
    }
    .title {
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .content {
      color: #fff;
      font-family: Akshar;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      text-transform: capitalize;
    }
  }
}

.tv-search-box {
  margin-top: 3rem;
  .tv-search-center {
    display: flex;
    align-items: center;
    justify-content: center;
    .tv-search {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      max-width: 700px;
      .search-input {
        border-radius: 30px;
        padding: 15px 2rem;
        width: 100%;
        outline: 0;
        border: 2px solid #000000;
      }
      .search-button {
        background-color: #000000;
        border-radius: 30px;
        padding: 10px 4rem;
        outline: 0;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7px;
        right: 6.5px;
        cursor: pointer;
        &:hover {
          background-color: #3d3d3d;
        }
        p {
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }
}

.tv-popular-services {
  padding: 0 200px;
  .blog-img {
    margin-top: 40px;
    img {
      border-radius: 10px;
    }
  }
  .card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .button-tip-one {
      margin-top: 50px;
      background: rgba(0, 0, 0, 1);
      border-radius: 30px;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 10px 5rem;
      border: none;
      cursor: pointer;
    }
  }

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: -60px;
    margin-top: 2rem;
    .selections {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
      line-height: normal;
      z-index: 999999;
    }
  }

  .blog-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 1rem;
      text-align: start;
    }
    .button-tip-there {
      background: transparent;
      border-radius: 10px;
      color: #000000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 10px 2rem;
      border: 1px solid #ff0808;
      width: 100%;
      cursor: pointer;
    }
    .content {
      color: #000;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 1rem;
    }
  }
  .blog-box {
    margin-top: 80px;
  }
  .title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 3rem;
  }
  .blog-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .sub-title {
      color: #fff;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
    }
    .tv-hr {
      border-radius: 16px;
      background: #ff5c00;
      width: 80%;
      height: 5px;
    }
    .content-box {
      display: flex;
      align-items: center;
      gap: 30px;
      .content {
        color: #fff;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.tv-who-we-are {
  padding: 0 200px;
  margin-top: 3rem;
  .title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .who-we-are-box {
    margin-top: 2rem;
    .sub-title {
      color: #000;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
    .content {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: start;
      .content-link {
        color: #000000;
      }
    }
  }
}

.notFound {
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

@media only screen and (max-width: 992px) {
  .tv-popular-services {
    padding: 0 20px;
  }
  .tv-who-we-are {
    padding: 0 20px;
  }
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0; /* Başlangıçta opaklık 0 */
  transition: opacity 0.3s ease; /* Geçiş efekti */
}

.popup.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* Popup açıldığında opaklık 1'e animasyonla geçiş yapar */
}

.popup-content {
  background-color: white;
  max-width: 400px;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Popup'a gölgelendirme ekleyelim */
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  cursor: pointer;
}

.popup-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
  img {
    border-radius: 10px;
  }
}

#popupPrice {
  font-weight: 700;
}

.payment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  .make-payment {
    background-color: #ff5c00;
    color: #fff;
    padding: 8px 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #f47d38;
    }
  }
}

.product-detail-button {
  background-color: #000000;
  color: #fff;
  padding: 8px 2rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #ff5c00;
  }
}

/* Popup'ın açılması için animasyon */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup'ın kapanması için animasyon */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animasyon süresi ve geçiş efektlerini belirleme */
.popup {
  animation: fadeIn 0.5s ease-in-out;
}

.popup.hide {
  animation: fadeOut 0.5s ease-in-out;
}

.step-container {
  .payment-img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .payment-price {
    font-weight: 600;
  }
}

.popup-form {
  margin-top: 1rem;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0.8rem;
}

.text-box {
  text-align: center;
  .title {
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .box-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
    .button-box {
      display: flex;
      flex-direction: column;
      .button-title {
        color: #000000;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      button {
        outline: 0;
        border: 0;
        padding: 10px 2rem;
        background-color: #000000;
        color: #ffffff;
        border-radius: 30px;
        &:hover {
          background-color: #3d3d3d;
        }
      }
    }
  }
  .country-box {
    .content {
      margin-top: 2.5rem;
      font-weight: 600;
    }
    .countries {
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: center;
      margin-top: 2rem;
      .country {
        display: flex;
        align-items: center;
        flex-direction: column;
        .country-flag {
          display: flex;
          align-items: center;
          gap: 7px;
          .title {
            font-size: 18px;
            margin-top: 1rem;
          }
        }
        .percent {
          background-color: rgb(96, 252, 96);
          border-radius: 30px;
          padding: 10px;
          width: 130px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #000000;
          span {
            color: #000000;
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
    }
  }
}
